In [1]:
import pandas as pd
import requests
import json

In [2]:
TOKEN = '35WLYX86SXGX3OCW'

def getIntra(symbol, interval, size):
    function = 'TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF

data = getIntra(symbol='MELI', interval='5min', size='compact')

data.round(2)

                        Open     High      Low    Close   Volume
Date
2023-06-12 14:25:00  1223.66  1224.69  1222.67  1223.08   3565.0
2023-06-12 14:30:00  1222.92  1222.92  1222.92  1222.92    892.0
2023-06-12 14:35:00  1224.36  1225.29  1223.38  1225.29   2322.0
2023-06-12 14:40:00  1225.29  1226.90  1224.34  1226.90   4343.0
2023-06-12 14:45:00  1226.92  1229.48  1225.60  1228.95   7218.0
...                      ...      ...      ...      ...      ...
2023-06-13 15:40:00  1209.88  1211.34  1208.96  1208.96   6680.0
2023-06-13 15:45:00  1209.50  1210.16  1208.24  1209.36   4785.0
2023-06-13 15:50:00  1209.38  1210.89  1209.00  1209.93  11796.0
2023-06-13 15:55:00  1209.30  1210.22  1207.84  1209.17  27757.0
2023-06-13 16:05:00  1209.52  1209.52  1209.52  1209.52    120.0

[100 rows x 5 columns]